@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom CSS */
body {
  font-family: 'Josefin Slab', serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
